[submodule "janus/vim-cpp-enhanced-highlight"]
	path = janus/vim-cpp-enhanced-highlight
	url = https://github.com/octol/vim-cpp-enhanced-highlight.git
[submodule "janus/vim-markdown"]
	path = janus/vim-markdown
	url = https://github.com/plasticboy/vim-markdown.git
[submodule "janus/vimtex"]
	path = janus/vimtex
	url = https://github.com/lervag/vimtex.git
[submodule "janus/syntastic"]
	path = janus/syntastic
	url = https://github.com/vim-syntastic/syntastic.git
[submodule "janus/YouCompleteMe"]
	path = janus/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe.git
[submodule "janus/python-mode"]
	path = janus/python-mode
	url = https://github.com/python-mode/python-mode.git
[submodule "janus/vim-superman"]
	path = janus/vim-superman
	url = https://github.com/jez/vim-superman.git
[submodule "janus/vim-expand-region"]
	path = janus/vim-expand-region
	url = https://github.com/terryma/vim-expand-region.git
[submodule "janus/onedark.vim"]
	path = janus/onedark.vim
	url = https://github.com/joshdick/onedark.vim.git
[submodule "janus/ycmd"]
	path = janus/ycmd
	url = https://github.com/Valloric/ycmd.git
[submodule "janus/vim-airline"]
	path = janus/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
